<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Archives - IT笔记</title>
	{% include 'css.htm' %}
</head>
<body>
{% include 'nav.htm' %}
<div id="content" class="inner">
	<div id="main-col" class="alignleft">
		<div id="wrapper">
		<h2 class="archive-title">Archives</h2>
		<div class="archive">
			{% for keys in htmlstring %}
				{% for blog in htmlstring.get(keys) %}
			<article class="post">
				<div class="post-content">
					<header>
						<div class="icon"></div>
						<time datetime="{{blog[2]}}">{{blog[2]}}</time>
						<h1 class="title"><a href="/posts/{{ blog[0] }}.html">{{ blog[1] }}</a></h1>
					</header>
				</div>
			</article>
				{% end %}
			{% end %}
			</div>
		</div>
	</div>
{% include 'sidebar.htm' %}
<div class="clearfix"></div>
</div>
{% include 'footer.htm' %}